:root,
:after,
:before {
  --background: var(--gradient-26);
  --content-font: 'Abel', sans-serif;
  --radi-2: var(--radius-2);
  --borderWidth: var(--radi-2);
}

@property --f-o{
  syntax: '<number>';
  inherits: false;
  initial-value: 1;
}

body {
  font-family: var(--content-font);
  background-image: var(--background);
  box-sizing: border-box;
  padding: 3ch;
  scroll-behavior: smooth;
}


.parent {
  display: grid;
  grid-template-columns: 1fr min(80ch, calc(100% - 16px)) 1fr;
  grid-column-gap: 8px;
  place-items: center;
  filter: none;
}

.parent > * {
  grid-column: 2;
}

iframe {
  margin-top: 2rem;
}

.name {
  color: var(--indigo-8);
}

li::marker {
  content: "🐾";
}

:where(h1) {
  margin-block-end: 5rem;
}
 
:where(h4) {
  margin-block: 5rem;
}

:where(li) {
  font-size: var(--font-size-4);
  color: var(--gray-2);
}

:where(h3) {
  font-size: var(--font-size-6);
  border-block-start: 2px dotted var(--lime-3);
  border-block-end: 2px dotted var(--lime-5);
  border-inline-start: 2px dotted var(--lime-7);
  border-inline-end: 2px dotted var(--lime-4);
  border-radius: var(--radius-blob-2);
  padding: 1.5rem;
  margin-block-end: 1rem;
  color: orangered;
}

:where(h4) {
  font-size: var(--font-size-5);
  color: var(--yellow-2);
  border-block-start: 2px dashed var(--indigo-9);
  border-block-end: 2px dashed var(--indigo-5);
  border-inline-start: 2px dashed var(--indigo-7);
  border-inline-end: 2px dashed var(--indigo-4);
  padding: 1.5rem;
  margin-block-end: 1rem;
  border-radius: var(--radius-blob-5);
}

:where(p, ul) {
  margin-block-end: var(--size-6);
  padding-inline-start: 0;
}

:where(p, h1, h3, h4) {
  max-inline-size: 100%;
  text-align: center;
}

:where(a) {
  color: var(--indigo-6);
}

:where(a):visited {
  color: var(--green-7);
}

:where(small) {
  margin-block-end: 0;
  max-inline-size: 100%;
  color: var(--orange-9);
  text-align: center;
}

.parent > section {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;

  width: 100%;
  grid-column: 1 / -1;
}

/* Create four equal columns that sits next to each other */
article {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

article img {
  margin-top: 8px;
  vertical-align: middle;
  border-radius: var(--radius-2);
  box-shadow: var(--shadow-2);
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 1000px) {
  article {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  article {
    flex: 100%;
    max-width: 100%;
  }
}

@media(prefers-color-scheme: light) {
  :where(p, ul) {
    color: var(--gray-0);
  }
}

.box{
	background-color: #DDFFF7;
	position: relative;
}

.box::after,
.box::before {
	mix-blend-mode: multiply;
	filter: none;
	content: '';
	width: calc(100% + (30px * 2));
	height: calc(100% + (30px * 2));
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	animation: border 10s ease-in-out infinite;
	transform: translateX(-30px) translateY(-30px);
}

.box > #dp {
  position: relative;
  z-index: 2;

  -webkit-mask: paint(fragmentation);
  --f-o: 1;
  transition: --f-o 1s;
}

.box > #sdp {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.box > #dp:hover {
  --f-o: 0;
}

@keyframes border {
  0%, 
  100% {
    -webkit-clip-path: polygon(0 0, calc(100% - (33.3333333333px)) calc(0% + (33.3333333333px)), 100% 100%, calc(0% + (33.3333333333px)) calc(100% - (33.3333333333px)));
            clip-path: polygon(0 0, calc(100% - (33.3333333333px)) calc(0% + (33.3333333333px)), 100% 100%, calc(0% + (33.3333333333px)) calc(100% - (33.3333333333px)));
  }
  50% {
    -webkit-clip-path: polygon(calc(0% + (33.3333333333px)) calc(0% + (33.3333333333px)), 100% 0, calc(100% - (33.3333333333px)) calc(100% - (33.3333333333px)), 0 100%);
            clip-path: polygon(calc(0% + (33.3333333333px)) calc(0% + (33.3333333333px)), 100% 0, calc(100% - (33.3333333333px)) calc(100% - (33.3333333333px)), 0 100%);
  }
}

.box::after{
	animation-delay: -5s;
	background-color: var(--lime-6);
	background-image: var(--gradient-4);
	clip-path: polygon(0 0, calc(100% - (33.3333333333px)) calc(0% + (33.3333333333px)), 100% 100%, calc(0% + (33.3333333333px)) calc(100% - (33.3333333333px)));
}

.box::before {
	background-color: orangered;
	background-image: var(--gradient-5);
	clip-path: polygon(calc(0% + (33.3333333333px)) calc(0% + (33.3333333333px)), 100% 0, calc(100% - (33.3333333333px)) calc(100% - (33.3333333333px)), 0 100%);
}
